
@font-face {
    font-family: 'SofiaPro';
    src: url('../fonts/SofiaPro-Medium.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/SofiaPro-Medium.otf')  format('opentype'),
         url('../fonts/SofiaPro-Medium.woff') format('woff'), 
         url('../fonts/SofiaPro-Medium.ttf')  format('truetype'), 
         url('../fonts/SofiaPro-Medium.svg#SofiaPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'SofiaPro';
    src: url('../fonts/SofiaPro-Bold.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/SofiaPro-Bold.otf')  format('opentype'),
         url('../fonts/SofiaPro-Bold.woff') format('woff'), 
         url('../fonts/SofiaPro-Bold.ttf')  format('truetype'),
         url('../fonts/SofiaPro-Bold.svg#SofiaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  
  $brand_colors : #BF1A15;

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
 
  img {
    max-width: 100%;
    height: auto;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  * {
    box-sizing: border-box;
  }
  
  * {
    transition: all 0.5s ease 0s;
  }
  body{
    font-family: 'SofiaPro';
    line-height: 1.3;
  }
  input,textarea{
    font-family: 'SofiaPro';
  }
  *:focus {
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
  }
  
  .container {
    max-width: 1170px;
    padding: 0px 15px;      
    margin: 0px auto;
  }
  
  .btn {
    color: #69101f;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid #69101f;
    display: block;
    max-width: 120px;
    margin: 0px auto;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn:hover {
    background-color: #81051a;
    color: #FFF;        
  }  

  
.main{
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 0px;
    .logo{
        max-width: 100px;
        display: block;
        margin: 0px auto;
    }
    .content{
        padding: 150px 0px 300px;
        @media only screen and (max-width: 1199px) {
            padding: 150px 0px 250px;
        }
        @media only screen and (max-width: 979px) {
            padding: 150px 0px 300px;
        }
        h1{
            font-size: 60px;
            text-align: center;
            color: white;
            font-weight: bold;
            letter-spacing: 0.01em;
            @media only screen and (max-width: 1199px) {
                font-size: 50px;
            }
            @media only screen and (max-width: 979px) {
                font-size: 40px;
            }
            @media only screen and (max-width: 767px) {
                font-size: 30px;
            }
        }
        p{
            font-size: 16px;
            text-align: center;
            color: white;
            letter-spacing: 0.03em;
            padding-top: 5px;
        }
    }
}

.home-page{      
    .main{
        background-image: linear-gradient(-100deg, rgba(137, 19, 39, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background.jpg);
    }
}

.WhatZeepzoop{
    .container{
        background: #fff;
        border-radius: 15px;
        box-shadow: 0 -2px 18px 0 rgba(72, 89, 102, 0.25);
        margin-top: -100px;
        width: calc(100% - 30px);
    }
    h1{
        text-align: center;
        font-size: 30px;
        padding: 60px 0px 20px;
        color: $brand_colors;
    }
    .content{
        max-width: 900px;
        margin: 0px auto;
        @media only screen and (max-width: 767px) {
            padding-bottom: 50px;
        }
        .items{
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 50px 0px;
                @media only screen and (max-width: 767px) {
                    padding:  0px;
                }
                @media only screen and (max-width: 767px) {
                   flex-direction: column;
                }
                .left{
                    width: 50%;
                    text-align: center;
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                }   
                .right{
                    width: 50%;
                    text-align: center;
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                p{
                    max-width: 350px;
                    text-align: center;
                    line-height: 24px;
                    display: block;
                    margin: 60px auto 0px;
                    &:first-child{
                        margin-top: 0px;
                    }
                    @media only screen and (max-width: 767px) {
                        margin: 30px auto 0px;
                    }
                }
                .img{
                    max-width: 250px;
                    margin: 0px auto;
                    @media only screen and (max-width: 767px) {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    &.whyZeepzoop{
        .container{
            margin-top: 70px;
            .content .items .item .img{
                @media only screen and (max-width: 767px) {             
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.features{
    h1{
        text-align: center;
        font-size: 30px;
        padding: 60px 0px 20px;
        color: $brand_colors;
    }
    .items{
        max-width: 980px;
        margin: 0px auto;
        transition: all 0.5s ease 0s;
        &:hover{
            .item{
                filter: grayscale(100%); 
                -webkit-filter: grayscale(100%);
            }
        }
        .item{
            width: calc(25% - 15px);
            float: left;
            text-align: left;
            cursor: pointer;
            background: #eaeaea;
            margin: 10px 10px;
            padding: 15px;
            height: 250px;
            position: relative;
            border-radius: 5px;
            transition: all 0.5s ease 0s;
            opacity: 0;
            transform: translate(0,100px);
            .img{
                max-width: 50px;
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
            .info{
                h3{
                    font-weight: 500;
                    font-size: 20px;
                    padding: 0px 0px;
                    color: #3b3b3b;
                    transition: all 0.5s ease 0s;
                }
                p{
                    margin: 10px auto;
                    font-size: 14px;
                    color: #6a6a6a;
                    line-height: 22px;
                    transition: all 0.5s ease 0s;
                }
            }
            
            &:hover{
                transition: all 0.5s ease 0s;
                filter: none;
                -webkit-filter: none;
                background:#68101f; 
                .info{
                    h3{
                        color: white;
                        transition: all 0.5s ease 0s;
                    }
                    p{
                        color: white;
                        transition: all 0.5s ease 0s;
                    }
                }
            }
            &:nth-child(4n+1){
                margin-left: 0px;
            }
            &:nth-child(4n+4){
                margin-right: 0px;
            }
            @media only screen and (max-width: 979px) {
                width: calc(33.33% - 17px);
                &:nth-child(4n+1){
                    margin-left: 10px;
                }
                &:nth-child(4n+4){
                    margin-right: 10px;
                }
                &:nth-child(3n+1){
                    margin-left: 0px;
                }
                &:nth-child(3n+3){
                    margin-right: 0px;
                }
            }
            @media (max-width: 767px){
                width: calc(50% - 10px);
                &:nth-child(3n+1){
                    margin-left: 10px;
                }
                &:nth-child(3n+3){
                    margin-right: 10px;
                }
                &:nth-child(2n+1){
                    margin-left: 0px;
                }
                &:nth-child(2n+2){
                    margin-right: 0px;
                }
            } 
            @media (max-width: 479px){
                width: 100%;
                max-width: 400px;
                margin: 20px auto !important;
                display: block;
                clear: both;
                float: none;
            }
        }
        &.active{
            @for $i from 1 to 8 {
                .item:nth-child(#{$i}){
                    opacity: 1;
                    transform: translate(0,0);
                    transition: all 0.5s ease $i * 0.05s;
                    &:hover{
                        transform: translate(0,0) scale(1.02);
                    }
                }
            }
        }
    }
    .text{
        text-align: center;
        padding: 50px 0px;
        p{
            color: #737373;
        }
    }
}
.blogs{
    h1{
        text-align: center;
        font-size: 30px;
        padding: 60px 0px 20px;     
        color: $brand_colors;
    }
    .items{
        max-width: 980px;
        margin: 0px auto;
        display: flex;
        a{
            width: 33.33%;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: hidden;
            margin: 20px;
            cursor: pointer;
            transition: all 0.5s ease 0s;
            transform: translate(0px, 0px);
            .img{
                height: 200px;          
                width: 100%;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .info{
                padding: 10px;
                h3{
                    color: $brand_colors;
                    font-size: 20px;
                    font-weight: 700;
                }
                p{
                    font-weight: 300;
                    color: #c1c1c1;
                    font-size: 13px;
                    line-height: 1.3;
                    padding-top: 5px;
                }
            }
            .author{
                padding: 0px 10px 10px;
                display: flex;
                align-items: center;
                .img{
                    width: 40px;
                    border-radius: 100%;
                    overflow: hidden;
                    height: 40px;
                    border: 1px solid #d1d1d1;
                    display: inline-block;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }           
                .profile{
                    display: inline-block;
                    padding-left: 5px;
                    color: #777;
                }
            }
            &:hover{
                transition: all 0.5s ease 0s;
                transform: translate(0px, -10px);
            }
            @media (max-width: 979px){
                width: 50%;
                &:nth-child(3){
                    display: none;
                }
            }
            @media (max-width: 767px){
                width: 100%;
                max-width: 400px;
                margin: 0px auto;
                &:nth-child(2){
                    display: none;
                }
            }
        }
    }
    .btn {
        margin: 20px auto 50px;
    }
}

footer{
    background-image: linear-gradient(-180deg, #b41d33, #69101f);
    h1{
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: 300;
        letter-spacing: 0.01em;
        padding: 50px 0px 10px;
    }
    .stores{
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        margin: 0px auto;
        .store{
            padding: 10px;
            svg{
                width: 72px;
                height: 72px;
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        padding: 50px 0px 20px;
        max-width: 980px;           
        p{
            color: #eeeeee;
            font-size: 12px;
        }
        @media (max-width: 767px){
            flex-direction: column;
            text-align: center;
        }
    }
}
.social{
    text-align: center;
    ul{
        margin: 30px 0px 0px;
        li{
            display: inline-block;
            margin: 0px 3px;
            a{
                cursor: pointer;
                svg{
                    width: 30px;
                    height: 30px;
                    .social-background{
                        fill:#fff;
                    }
                    .social-icon{
                        fill:#666666;
                    }
                }
            }
            &:nth-child(1){           
                a{
                    &:hover{
                        svg{                                       
                            .social-background{
                                fill:#3b5998;
                            }
                            .social-icon{
                                fill:#fff;
                            }
                        }
                    }
                }
            }
            &:nth-child(2){           
                a{
                    &:hover{
                        svg{                                       
                            .social-background{
                                fill:#1da1f3;
                            }
                            .social-icon{
                                fill:#fff;
                            }
                        }
                    }
                }
            }
            &:nth-child(3){           
                a{
                    &:hover{
                        svg{                                       
                            .social-background{
                                fill:#d40289;
                            }
                            .social-icon{
                                fill:#fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blogs-page{
    .blogs{
        .items{
            flex-wrap: wrap;
            a{
                width: calc(33.33% - 40px);
                @media (max-width: 979px){
                    width: calc(50% - 40px);
                    &:nth-child(3){
                        display: block;
                    }
                }
                @media (max-width:767px){
                    width: 100%;
                    max-width: 400px;
                    margin: 0px auto 30px;
                    &:nth-child(2){
                        display: block;
                    }
                }
            }
        }
    }
}
.blog{
    .container{
        max-width: 980px;
    }
    article{
        h1{
            text-align: center;
            font-size: 30px;
            padding: 60px 0px 20px;
            color: $brand_colors;
        }
    }
    .author{
        display: block;
        margin: 0px auto 50px;
        text-align: center;
        p{
            font-size: 12px;
        }
        .img{
            max-width: 100px;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: 0px auto;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profile{
            span{
                color: $brand_colors;
                font-weight: bold;
            }
        }
    }
}
.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 20px 0px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .ql-editor > * {
    cursor: text;
  }
  .ql-editor p,
  .ql-editor ol,
  .ql-editor ul,
  .ql-editor pre,
  .ql-editor blockquote,
  .ql-editor h1,
  .ql-editor h2,
  .ql-editor h3,
  .ql-editor h4,
  .ql-editor h5,
  .ql-editor h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol,
  .ql-editor ul {
    padding-left: 1.5em;
  }
  .ql-editor ol > li,
  .ql-editor ul > li {
    list-style-type: none;
  }
  .ql-editor ul > li::before {
    content: '\2022';
  }
  .ql-editor ul[data-checked=true],
  .ql-editor ul[data-checked=false] {
    pointer-events: none;
  }
  .ql-editor ul[data-checked=true] > li *,
  .ql-editor ul[data-checked=false] > li * {
    pointer-events: all;
  }
  .ql-editor ul[data-checked=true] > li::before,
  .ql-editor ul[data-checked=false] > li::before {
    color: #777;
    cursor: pointer;
    pointer-events: all;
  }
  .ql-editor ul[data-checked=true] > li::before {
    content: '\2611';
  }
  .ql-editor ul[data-checked=false] > li::before {
    content: '\2610';
  }
  .ql-editor li::before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
  }
  .ql-editor li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
    margin-right: 0.3em;
    text-align: right;
  }
  .ql-editor li.ql-direction-rtl::before {
    margin-left: 0.3em;
    margin-right: -1.5em;
  }
  .ql-editor ol li:not(.ql-direction-rtl),
  .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
  }
  .ql-editor ol li.ql-direction-rtl,
  .ql-editor ul li.ql-direction-rtl {
    padding-right: 1.5em;
  }
  .ql-editor ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
  }
  .ql-editor ol li:before {
    content: counter(list-0, decimal) '. ';
  }
  .ql-editor ol li.ql-indent-1 {
    counter-increment: list-1;
  }
  .ql-editor ol li.ql-indent-1:before {
    content: counter(list-1, lower-alpha) '. ';
  }
  .ql-editor ol li.ql-indent-1 {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-2 {
    counter-increment: list-2;
  }
  .ql-editor ol li.ql-indent-2:before {
    content: counter(list-2, lower-roman) '. ';
  }
  .ql-editor ol li.ql-indent-2 {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-3 {
    counter-increment: list-3;
  }
  .ql-editor ol li.ql-indent-3:before {
    content: counter(list-3, decimal) '. ';
  }
  .ql-editor ol li.ql-indent-3 {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-4 {
    counter-increment: list-4;
  }
  .ql-editor ol li.ql-indent-4:before {
    content: counter(list-4, lower-alpha) '. ';
  }
  .ql-editor ol li.ql-indent-4 {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-5 {
    counter-increment: list-5;
  }
  .ql-editor ol li.ql-indent-5:before {
    content: counter(list-5, lower-roman) '. ';
  }
  .ql-editor ol li.ql-indent-5 {
    counter-reset: list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-6 {
    counter-increment: list-6;
  }
  .ql-editor ol li.ql-indent-6:before {
    content: counter(list-6, decimal) '. ';
  }
  .ql-editor ol li.ql-indent-6 {
    counter-reset: list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-7 {
    counter-increment: list-7;
  }
  .ql-editor ol li.ql-indent-7:before {
    content: counter(list-7, lower-alpha) '. ';
  }
  .ql-editor ol li.ql-indent-7 {
    counter-reset: list-8 list-9;
  }
  .ql-editor ol li.ql-indent-8 {
    counter-increment: list-8;
  }
  .ql-editor ol li.ql-indent-8:before {
    content: counter(list-8, lower-roman) '. ';
  }
  .ql-editor ol li.ql-indent-8 {
    counter-reset: list-9;
  }
  .ql-editor ol li.ql-indent-9 {
    counter-increment: list-9;
  }
  .ql-editor ol li.ql-indent-9:before {
    content: counter(list-9, decimal) '. ';
  }
  .ql-editor .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
  }
  .ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em;
  }
  .ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
  }
  .ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
  }
  .ql-editor .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
  }
  .ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em;
  }
  .ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
  }
  .ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
  }
  .ql-editor .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
  }
  .ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em;
  }
  .ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
  }
  .ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
  }
  .ql-editor .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
  }
  .ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em;
  }
  .ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
  }
  .ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
  }
  .ql-editor .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
  }
  .ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em;
  }
  .ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
  }
  .ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
  }
  .ql-editor .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
  }
  .ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em;
  }
  .ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
  }
  .ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
  }
  .ql-editor .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
  }
  .ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em;
  }
  .ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
  }
  .ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
  }
  .ql-editor .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
  }
  .ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em;
  }
  .ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
  }
  .ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
  }
  .ql-editor .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
  }
  .ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em;
  }
  .ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
  }
  .ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
  }
  .ql-editor .ql-video {
    display: block;
    max-width: 100%;
  }
  .ql-editor .ql-video.ql-align-center {
    margin: 0 auto;
  }
  .ql-editor .ql-video.ql-align-right {
    margin: 0 0 0 auto;
  }
  .ql-editor .ql-bg-black {
    background-color: #000;
  }
  .ql-editor .ql-bg-red {
    background-color: #e60000;
  }
  .ql-editor .ql-bg-orange {
    background-color: #f90;
  }
  .ql-editor .ql-bg-yellow {
    background-color: #ff0;
  }
  .ql-editor .ql-bg-green {
    background-color: #008a00;
  }
  .ql-editor .ql-bg-blue {
    background-color: #06c;
  }
  .ql-editor .ql-bg-purple {
    background-color: #93f;
  }
  .ql-editor .ql-color-white {
    color: #fff;
  }
  .ql-editor .ql-color-red {
    color: #e60000;
  }
  .ql-editor .ql-color-orange {
    color: #f90;
  }
  .ql-editor .ql-color-yellow {
    color: #ff0;
  }
  .ql-editor .ql-color-green {
    color: #008a00;
  }
  .ql-editor .ql-color-blue {
    color: #06c;
  }
  .ql-editor .ql-color-purple {
    color: #93f;
  }
  .ql-editor .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
  }
  .ql-editor .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
  }
  .ql-editor .ql-size-small {
    font-size: 0.75em;
  }
  .ql-editor .ql-size-large {
    font-size: 1.5em;
  }
  .ql-editor .ql-size-huge {
    font-size: 2.5em;
  }
  .ql-editor .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
  }
  .ql-editor .ql-align-center {
    text-align: center;
  }
  .ql-editor .ql-align-justify {
    text-align: justify;
  }
  .ql-editor .ql-align-right {
    text-align: right;
  }
  .ql-editor.ql-blank::before {
    color: rgba(0,0,0,0.6);
    content: attr(data-placeholder);
    font-style: italic;
    left: 15px;
    pointer-events: none;
    position: absolute;
    right: 15px;
  }