body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px 0px;
  max-width: 768px;
  margin: 0px auto; }
  body h1 {
    font-size: 30px;
    color: #9a162d;
    line-height: 1.3;
    padding-bottom: 5px !important;
    font-weight: bold; }
  body h2 {
    font-size: 24px;
    color: #9a162d;
    line-height: 1.3;
    padding-bottom: 5px !important;
    font-weight: bold; }
  body h3 {
    font-size: 20px;
    color: #9a162d;
    line-height: 1.3;
    padding-bottom: 5px !important;
    font-weight: bold; }
  body h4 {
    font-size: 16px;
    color: #9a162d;
    line-height: 1.3;
    padding-bottom: 5px !important;
    font-weight: bold; }
  body h5 {
    font-size: 13px;
    color: #9a162d;
    line-height: 1.3;
    padding-bottom: 5px !important;
    font-weight: bold; }
  body h6 {
    font-size: 10px;
    color: #9a162d;
    line-height: 1.3;
    padding-bottom: 5px !important;
    font-weight: bold; }
  body p {
    font-size: 16px;
    line-height: 1.4;
    color: #969696;
    padding-bottom: 20px !important;
    font-weight: normal;
    letter-spacing: 0.04em; }
  body strong {
    font-size: 16px;
    line-height: 1.4;
    color: #969696;
    font-weight: 600; }
  body a {
    font-size: 16px;
    line-height: 1.4;
    color: black !important;
    font-weight: normal;
    cursor: pointer;
    text-decoration: underline !important;
    font-weight: 600;
    vertical-align: initial;
    transition: all 0.2s ease 0s; }
    body a:hover {
      color: #9a162d !important; }
  body blockquote {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px !important;
    border-left: 0px !important;
    padding: 0px 5% !important;
    color: #9a162d;
    position: relative; }
    body blockquote:before {
      content: url("../images/blockquote.png");
      padding-right: 10px; }
  body em {
    font-style: italic; }
  body img {
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    display: block; }
  body ul, body ol {
    padding-left: 15px !important;
    padding-bottom: 20px !important; }
    body ul li, body ol li {
      font-size: 16px;
      line-height: 1.4;
      color: #969696;
      font-weight: normal; }
      body ul li:before, body ol li:before {
        text-align: center  !important; }
  body .ql-align-justify {
    text-align: justify; }
  body .ql-align-center {
    text-align: center; }
  body .ql-align-right {
    text-align: right; }