include common/head

.secPad.pgeNtFndWrp
  .centerAlign
    img(src='/images/404.gif', alt='404')
    a.defBtn(href='/') Return to Home

include common/footer
script.
  $(document).ready(function() {
    $('header').css("background-color","#b21a34")
  })