
include common/head
include common/mixin
.blogs
  .container
    h1 Blogs
    .items
      - for (var x = 0; x < length ; x++)
        +smallBlog(blogs[x])
    a.btn Load more
include common/footer
  