include common/head
include common/mixin
.WhatZeepzoop
      .container
        .content
          .items
            .item
              .business-content
                h2
                  | Get more out of your business, without losing focus on what is most important — Give best product to your Customers
                p
                  | From managing your Brand information directly from your phone to promoting your Business, Zeepzoophas got you covered.
    section.business-claim
      .container
        .content.clearfix
          .left
            h1 access advanced tools
            h2 Claim your listing to access advanced analytical and engagement tools
            p
              | Edit the information in your page, add catalogues and offers and answer reviews. Search for your
              | listing and submit your contact details.You will be contacted shortly for verification.
          .right
            .image
              img(src='images/store.png')
    section.findbusiness
      .container
        .content
          .items
            .item
              .register-store       
                h2 Register your store on ZeepZoop?
                p
                  | Haven't register on ZeepZoop yet! Click on below link for register you store on Zeepzoop
                a.btn(href='http://onelink.to/zmfc8d', , target='_blank') Register Now
              .knowmore
                h2 Want to know more?
                p Contact us on this number
                .number
                  .image
                    svg(height='15px', version='1.1', viewbox='0 0 18 18', width='15px', xmlns='http://www.w3.org/2000/svg', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', xmlns:xlink='http://www.w3.org/1999/xlink')
                      g#Page-1(fill='none', fill-rule='evenodd', stroke='none', stroke-width='1')
                          g#Icons-Communication(fill='#000000', transform='translate(-1.000000, 0.000000)')
                            g#call(transform='translate(1.000000, 0.000000)')
                                path#Shape(d='M3.6,7.8 C5,10.6 7.4,12.9 10.2,14.4 L12.4,12.2 C12.7,11.9 13.1,11.8 13.4,12 C14.5,12.4 15.7,12.6 17,12.6 C17.6,12.6 18,13 18,13.6 L18,17 C18,17.6 17.6,18 17,18 C7.6,18 0,10.4 0,1 C0,0.4 0.4,0 1,0 L4.5,0 C5.1,0 5.5,0.4 5.5,1 C5.5,2.2 5.7,3.4 6.1,4.6 C6.2,4.9 6.1,5.3 5.9,5.6 L3.6,7.8 L3.6,7.8 Z')
                  p  Call us at +91-9978841449
include common/footer
