include common/head

.hdrPlaceHolder
.inrBredCrumbCont
  .centerAlign
    ul.bredCrumbWrp
      li
        a(href='/') Home
      li
        a(href='javascript:void(0)') Catalouge
.featListMainCont
  .centerAlign
    ul.feaListMainWrp
      - for(var x = 0; x < catelougelength ; x++)
        if catelouge[x]
          li
            a(href='/brand/#{catelouge[x].storeURL}')
              img(src=global.config.variable.apiPath+'/#{catelouge[x].catalogUrl}', alt='img')
              // span #{catelouge[x].catalogDescription}
    .txtCent
      a.defBtn.loadMore(id="loadcatalouge") Load More

include common/footer
script.
  $(document).ready(function() {
    $('header').css("background-color","#b21a34")
  })