include common/head

.wrapper
  .our_story_page
    .cpage_top_bottom_margin
      .story_top_part
        .page_in_big_images.padding_bottom_45
          img(src='/images/ceo-banner.jpg')
        .cont
          .about_part_ceo_founder
            .about_part_all.padding_bottom.padding_bottom_45
              .left_part_img
                .images_css
                  img(src='/images/bhavyamodi.jpg')
              .right_content
                h3.headings_three_part Bhavya Modi 
                h3.headings_three_part Founder & CEO, ZeepZoop 
                span.our_story_content
                  | Every Gujju Boy wants his own business setup, True! But how many can actually turn that dream into reality? Only a few! This Gujju boy had a specific dream since his college days. Having a product that connects people of the same taste and helps them get what they are looking for.
          .full_div.our_story_content_main_class.padding_bottom_150
            span.our_story_content.padding_bottom_45
              | The Web and E-commerce Era was rising; he started an e-commerce portal for handicrafts. The venture failed and 3 learning were major:
            ul.storypage_ul_li.padding_bottom_45
              li Build your team first and invest in people
              li Have your operations cost as low as possible
              li And if you want to go big, think bigger
            span.our_story_content.padding_bottom_45
              | He was still gulping the failure and digesting these lessons. But it was the time again! One fine day, while sitting on a Chai-Tapri of Ahmedabad (ink to Our Story page will come here) with Bhavin, He had an idea of ZeepZoop! It sounded crazy at that time, but Bhavya had the courage to polish and turn that idea into reality. He was sure that this idea touches the real problem that people face and he had the great solution in mind!
            span.our_story_content.padding_bottom_45
              | He started working on this idea. He attended countless events for start-ups and started pitching this idea too. Side by side he started building the product on his own. He started building the team, he started on documentation, registered a company. He was going with the right velocity and strong faith in his product. Finally, after listening NO from dozens of investors, he found someone who decided to support him to execute this idea to build a concrete product!
            span.our_story_content.padding_bottom_45
              | ZeepZoop Got Funding in April 2018 and since then it is growing bigger and better.
              | Now we too believe... all those who wander are not lost! Some people just work their asses off and they turn their dreams into reality. ZeepZoop It Is!
include common/footer
script.
  document.body.classList.add("body-register");
