include common/head

.bnrMainCont
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/banner-story.jpg');")
section.secPad
  .centerAlign.sidePads
    .founMemMainCont.mb3
      .foundMemImg
        img(src='/images/founderImg-1.jpg', alt='img')
      .foundMemInfWrp
        h2.fndMemTtle
          | Bhavya Modi
          span Founder & CEO
        .secDesc.secDescx2
          p
            | Every Gujju Boy wants his own business setup, True! But how many can actually turn that dream into reality? Only a few! This Gujju boy had a specific dream since his college days. Having a product that connects people of the same taste and helps them get what they are looking for.
    .ourStryCont
      .secDesc
        p
          | The Web and E-commerce Era was rising; he started an e-commerce portal for handcrafts. The venture failed and 3 learning were major:
        ul
          li Build your team first and invest in people
          li Have your operations cost as low as possible
          li And if you want to go big, think bigger
        p
          | He was still gulping the failure and digesting these lessons. But it was the time again! One fine day, while sitting on a Chai-Tapri of Ahmedabad 
          a(href='/zeepzoop_story') Our Story
          |  with Bhavin, He had an idea of ZeepZoop! It sounded crazy at that time, but Bhavya had the courage to polish and turn that idea into reality. He was sure that this idea touches the real problem that people face and he had the great solution in mind!
        p
          | He started working on this idea. He attended countless events for start-ups and started pitching this idea too. Side by side he started building the product on his own. He started building the team, he started on documentation, registered a company. He was going with the right velocity and strong faith in his product. Finally, after listening NO from dozens of investors, he found someone who decided to support him to execute this idea to build a concrete product!
        p
          | ZeepZoop Got Funding in April 2018 and since then it is growing bigger and better. 
          br
          | Now we too believe... all those who wander are not lost! Some people just work their asses off and they turn their dreams into reality. ZeepZoop It Is!

include common/footer
script.
  $(document).ready(function() {
    $('header').css("background-color","#b21a34")
  })
