include common/head
.WhatZeepzoop
  .container
    h1 What is ZeepZoop?
    .content
      .items
        .item
          .left
            p
              | ZeepZoop is a shopping Assistant App. It makes shopping simpler for you by recommending you the
              | best places to shop from Brick & Mortar as well as Niche E-commerce websites by using user
              | generated ratings and reviews.
            p
              | It’s not just about shopping, mind you. ZeepZoop is a versatile, all-inclusive and all-rounder
              | mate for you to get alerts and notifications for whatever latest/trendy things introduced
              | in the market.
          .right
            .img
              img(src='images/mian.png')
        //
          <div class="item">
          <div class="left">
          <div class="img">
          <img src="images/store.png">
          </div>
          </div>
          <div class="right">
          <p>Be it a confusion to locate the store for the exact product you want or sovereign purchases,
          comparison between the large and small brick and mortar shops, checking the reliabilities
          of the shops and products, everything related to the shopping while enjoying the most wonderful
          experiences of your life will become grateful if ZeepZoop is your companion. </p>
          <p>It’s not all about shopping, mind you. The product is versatile, all-inclusive and all-rounder
          mate for you to connect with the customers easily, get alerts and notifications for whatever
          latest/trendy things introduced in the market. </p>
          </div>
          </div>
          <div class="item">
          <div class="left">
          <p>You will also be able to explore the best shops for their exclusive wishes. You can find the
          related & best offers; bookmark the stores, give ratings, write reviews, read blogs related
          to art, craft, culture, fashion, home décor and much more. </p>
          <p>It’s all you need while you travel, isn’t it? Well, there are plenty of invincible features of
          the products which show the diversity from the market. It is one-of-its-kind shopping stop;
          we bet you. </p>
          </div>
          <div class="right">
          <div class="img">
          <img src="images/offer.png">
          </div>
          </div>
          </div>
.features
  .container
    h1 Features
    dl
    .content
      .items.clearfix
        .item
          .info
            h3 Discover
            p Discover the Undiscovered Exclusive Brick & Mortar as well as E-commerce shops.
          .img
            img(src='images/discover.png')
        .item
          .info
            h3 Offers
            p Find the most amazing offers & shop without guilt.
          .img
            img(src='images/offers.png')
        .item
          .info
            h3 Bookmark
            p
              | Bookmark the stores you like and Get notifications for New Arrivals & New Offers.
          .img
            img(src='images/bookmark.png')
        .item
          .info
            h3 List
            p Create a List of the shops you loved and you need to visit in future.
          .img
            img(src='images/list.png')
        .item
          .info
            h3 Trend
            p Find out which store or product is trending.
          .img
            img(src='images/trending.png')
        .item
          .info
            h3 Ratings
            p See ratings and read reviews given by Shoppers like you before shopping.
          .img
            img(src='images/rating.png')
        .item
          .info
            h3 Blogs
            p Read blogs related to art, craft, culture, fashion, home décor and much more.
          .img
            img(src='images/blogs.png')
.WhatZeepzoop.whyZeepzoop
  .container
    h1 Why ZeepZoop?
    .content
      .items
        .item
          .left
            .img
              img(src='images/store.png')
          .right
            p
              | Shopping is super fun, isn't it? But, what about the times when you couldn't figure out where
              | to shop from? Because big malls can't fulfil your urge to Shop unique.
            p
              | Well, stop browsing through multiple search engines. because we understand your plight! ZeepZoop
              | can be your companion in shopping. It is easy and absolutely convenient.
            p
              | Be it a confusion to locate the shop to purchase sovereign for near and dear ones while travelling,
              | checking the reliabilities of the shops and products, everything related to the shopping
              | while enjoying the most wonderful experiences of your life will become grateful if ZeepZoop
              | is your companion.
.blogs
  .container
    h1 Blogs
    .items
      article
        .img
          img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
        .info
          h3 Beauty of Clay, Tingle of Bells
          p
            | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
            | .
        .author
          .img
            img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
          .profile
            span Shubharambh
      article
        .img
          img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
        .info
          h3 Beauty of Clay, Tingle of Bells
          p
            | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
            | .
        .author
          .img
            img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
          .profile
            span Shubharambh
      article
        .img
          img(src='http://www.webrexstudio.com:3001/public/2017/11/rsz_20160209-img_1769.jpg')
        .info
          h3 Beauty of Clay, Tingle of Bells
          p
            | It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper
            | .
        .author
          .img
            img(src='http://www.webrexstudio.com:3001/public/2017/11/facebook-small.jpg')
          .profile
            span Shubharambh
    a.btn(href='blogs') See more
include common/footer
