include common/head
include common/mixin
.WhatZeepzoop
  .container
    h1 What is ZeepZoop?
    .content
      .items
        .item
          .left
            p
              | ZeepZoop is a shopping Assistant App. It makes shopping simpler for you by recommending you the
              | best places to shop from Brick & Mortar as well as Niche E-commerce websites by using user
              | generated ratings and reviews.
            p
              | It’s not just about shopping, mind you. ZeepZoop is a versatile, all-inclusive and all-rounder
              | mate for you to get alerts and notifications for whatever latest/trendy things introduced
              | in the market.
          .right
            .img
              img(src='images/mian.png')
.features
  .container
    h1 Features
    dl
    .content
      .items.clearfix
        .item
          .info
            h3 Discover
            p Discover the Undiscovered Exclusive Brick & Mortar as well as E-commerce shops.
          .img
            svg(fill='#3F51B5', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z')
              path(d='M0 0h24v24H0z', fill='none')
        .item
          .info
            h3 Offers
            p Find the most amazing offers & shop without guilt.
          .img
            svg(fill='#e65100', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0h24v24H0z', fill='none')
              path(d='M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z')
        .item
          .info
            h3 Bookmark
            p
              | Bookmark the stores you like and Get notifications for New Arrivals & New Offers.
          .img
            svg(fill='#4caf50', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z')
              path(d='M0 0h24v24H0z', fill='none')
        .item
          .info
            h3 List
            p Create a List of the shops you loved and you need to visit in future.
          .img
            svg(fill='#2c9102', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z')
              path(d='M0 0h24v24H0z', fill='none')
        .item
          .info
            h3 Trend
            p Find out which store or product is trending.
          .img
            svg(fill='#20c5db', height='48', viewbox='0 0 18 18', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z')
              path(d='M0 0h18v18H0z', fill='none')
        .item
          .info
            h3 Ratings
            p See ratings and read reviews given by Shoppers like you before shopping.
          .img
            svg(fill='#f44336', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0h24v24H0z', fill='none')
              path(d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z')
        .item
          .info
            h3 Blogs
            p Read blogs related to art, craft, culture, fashion, home décor and much more.
          .img
            svg(fill='#90caf9', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0h24v24H0z', fill='none')
              path(d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z')

        .item
          .info
              h3 Catalogues
              p View Catalogues to get to know about shop's Amazing Range of Products.
            .img
              svg(fill='#db8420', height='48', viewbox='0 0 24 24', width='48', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none')
                path(d='M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4zm0 15l3-3.86 2.14 2.58 3-3.86L18 19H6z')

.WhatZeepzoop.whyZeepzoop
  .container
    h1 Why ZeepZoop?
    .content
      .items
        .item
          .left
            .img
              img(src='images/store.png')
          .right
            p
              | Shopping is super fun, isn't it? But, what about the times when you couldn't figure out where
              | to shop from? Because big malls can't fulfil your urge to Shop unique.
            p
              | Well, stop browsing through multiple search engines. because we understand your plight! ZeepZoop
              | can be your companion in shopping. It is easy and absolutely convenient.
            p
              | Be it a confusion to locate the shop to purchase sovereign for near and dear ones while travelling,
              | checking the reliabilities of the shops and products, everything related to the shopping
              | while enjoying the most wonderful experiences of your life will become grateful if ZeepZoop
              | is your companion.
.blogs
  .container
    h1 Blogs
    .items
      - for (var x = 0; x < length ; x++)
        +smallBlog(blogs[x], host)
    a.btn(href='blogs') See more
include common/footer
