include common/head

.bnrMainCont
  .bnrBgVidMainWrap
    .bnrBgVid.player(data-property="{videoURL:'http://youtu.be/Jk1CEXwwrt8',containment:'.bnrBgVidMainWrap',stopMovieOnBlur:false,autoPlay:true,showControls:false, mute:true, startAt:0, opacity:0.5}")
  .gotgZepLogoWrp
    img(src='/images/guardians-img.png', alt='img')
section.secPad
  .centerAlign.sidePads
    h1.secTtleLine MGK Group
    ul.mgkGrp
      li
        img(src='/images/mgk-grp-1.jpg', alt='img')
        span Mahesh Patel
      li
        img(src='/images/mgk-grp-2.jpg', alt='img')
        span Gaurav Patel
      li
        img(src='/images/mgk-grp-3.jpg', alt='img')
        span Kalpesh Patel 
    .secDesc.secDescx2.txtCent.mgkFundInf
      p
        | Millions of great ideas die every day lacking the funds. We are eternally grateful to have them believing in the product, having faith in us, understanding the entire process with patience and top of all, Providing the Strong Support System for ZeepZoop.
    .founMemMainCont.mb8
      .foundMemImg
        img(src='/images/founderImg-1.jpg', alt='img')
      .foundMemInfWrp
        h2.fndMemTtle
          | Bhavya Modi 
          span Founder & CEO
        .secDesc.secDescx2
          p
            | Don’t just talk about the Start-up, Build one! Says, Bhavya Modi. His rigorous approach for creating a product, clarity about the niche, his vision to be the global shopping community and his obsessive passion for the brand makes him a true leader to drive the company on a right pathway!
    .founMemMainCont.dirRtl
      .foundMemImg
        img(src='/images/founderImg-2.jpg', alt='img')
      .foundMemInfWrp
        h2.fndMemTtle
          | Bhavin Prajapati
          span Founder & COO
        .secDesc.secDescx2
          p
            | The first person who believed in the company’s Vision and supported the dream to build a concrete product. He drives the entire ZeepZoop force efficiently while handling operational level tasks and decisions for the company. His optimistic approach makes him win the Game !
.scrlTpIcon

include common/footer
script.
  $(document).ready(function() {
  jQuery(".bnrBgVid").YTPlayer();
  });
