include common/head

.bnrMainCont
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/banner-story.jpg');")
section.ourStryCont
  .centerAlign.secDesc.secPad(style="text-align: justify;")
    p
      | One fine day, Two Failed Entrepreneurs were discussing world's greatest problems at not-so-famous Chai-ki-Tapri of Ahmedabad and then they got some situations, Historically Unanswered!!
    ul
      li Boys - Gift Kya Du?
      li Girls - Kuch Acchaa He Hi Nahi, Kya Pehnu? 
      li Moms – Saari Designer Chize Itni Costly hi Hoti Hai?
      li A Bride –‘Budget Friendly Bridal Designers' Jaisa Kuch Hota Bhi Hai?
    p
      | Yeah? Sounds familiar? Well, the Good News is, You are not alone, that's all of us. But the Bad news is No one has tried to solve this greatest problem of the world ever. But We are Here! 
      br
      |                 Yes, we love looking good, hell yeah!! But most of the times, Shopping is a tiring process. Of course, we have tried 'DINTRAS AND UBONGS AND GABAZONS!' But We want something unique, designer and exclusive
    .stryBgTtl Now What?
  .ourStryBrn
    img(src='/images/our-stry-img.jpg', alt='img')
  .centerAlign.secDesc.secPad(style="text-align: justify;")
    p
      | India's First Shopping Guide and Brand Discovery Mobile Application and dedicated portal Launched with 600+ Designer Labels to Shop From:
    ul
      li 350+ Clothing Brands
      li 100+ Jewellery Brands
      li 50+ accessories Brand
      li 50+ Home Décor Brands
    p
      | Yes.. India's Best Designer Labels under the One Roof, and we are sure when you are reading this, these numbers are double already!
    h2 What Can You Do with ZeepZoop App and Website? 
    p
      strong If You are a Shopping Lover Like us
      |  - Take a Beer, Sit on Your Couch, Browse Designer's Profile and their Collection on the ZeepZoop App. For E-Shop, you can Directly Visit their website and shop their collection. For In-Shop Option, Check their Catalogue, Bookmark your Favorite Ones and Visit Your Chosen Ones only. No Need to Visit 50 Stores and Coming with Empty Hands. It's so... heartbreaking!! We know that. You and Your time are Precious, C'on!
    p
      strong If You Own a Designer Label
      |  – Register Your Brand on ZeepZoop, Let thousands of people come and explore your collection. You focus on Designing and making good Products, We will let people know about your Designs! Oh, Wait… hellooo and guess what? Business Listing on ZeepZoop is Free!
  .inrBrndRegiMainCont
    .centerAlign.txtCent
      .inrBrndRegTtle You Want To Register Your Brand
      a.inrBrndBtn(href='/register-your-brand') Register Here
  .centerAlign.secDesc.secPad(style="text-align: justify;")
    p
      | That's all about us and what we do! We Love Dressing Up! We Love to Flaunt Different Looks! We Love People Talk About us and We Love everything Exclusive and nothing Less!
.ssZepZopMainCont
  .centerAlign
    .secTtleLine
      | Sounds Good? Then Stay in Touch! 
      br
      | Seek, Shop and Share with ZeepZoop – Your Personal Shopping Guide
    ul.ssZepZopStepWrp
      li
        a(href='/blogs')
          img(src='/images/icon-zepzop-step-1.svg')
          span Read Some Awesome Fashion And Lifestyle Stories 
      li
        a(href='https://mail.google.com/mail/?view=cm&fs=1&to=career@zeepzoop.com' ,target="_blank")
          img(src='/images/icon-zepzop-step-2.svg')
          span You feel You are crazy enough to Join the Team! Write to Us at
      li
        a(href='https://mail.google.com/mail/?view=cm&fs=1&to=collaboration@zeepzoop.com' ,target="_blank")
          img(src='/images/icon-zepzop-step-3.svg')
          span Are You an Influencer and Want Work with Us? Write to Us at
      li
        a(href='https://mail.google.com/mail/?view=cm&fs=1&to=connect@zeepzoop.com' ,target="_blank")
          img(src='/images/icon-zepzop-step-4.svg')
          span You want to share your ideas, tips, feedback? Write to Us at   
.scrlTpIcon
include common/footer
script.
  $(document).ready(function() {
    $('header').css("background-color","#b21a34")
  })

