include common/head

.wrapper
  .our_story_page
    .cpage_top_bottom_margin
      .story_top_part
        //- .page_in_big_images.padding_bottom_45
          //- img(src='/images/bookmark-icon.png')
        .cont
          .full_div.our_story_content_main_class
            br
            br
            span.our_story_content.padding_bottom_45
              | One fine day, Two Failed Entrepreneurs were discussing world's greatest problems at not-so-famous Chai-ki-Tapri of Ahmedabad and then they got some situations, Historically Unanswered!!
            ul.storypage_ul_li.padding_bottom_45
              li Boys - Gift Kya Du?
              li Girls - Kuch Acchaa He Hi Nahi, Kya Pehnu? 
              li Moms – Saari Designer Chize Itni Costly hi Hoti Hai?
              li A Bride –‘Budget Friendly Bridal Designers' Jaisa Kuch Hota Bhi Hai?
            span.our_story_content.padding_bottom_45
              | Yeah? Sounds familiar? Well, the Good News is, You are not alone, that's all of us. But the Bad news is No one has tried to solve this greatest problem of the world ever. But We are Here!
            span.our_story_content.padding_bottom_45
              | Yes, we love looking good, hell yeah!! But most of the times, Shopping is a tiring process. Of course, we have tried 'DINTRAS AND UBONGS AND GABAZONS!' But We want something unique, designer and exclusive
            .two_headings.padding_bottom_45
              h3.headings_three_part Now What?
              //- h3.headings_three_part That's When ZeepZoop Was Born! 
      .story_secound_part
        .page_in_big_images.padding_bottom_45
          img(src='/images/our_story.jpg')
        .cont
          span.our_story_content.padding_bottom_45
            | India's First Shopping Guide and Brand Discovery Mobile Application and dedicated portal Launched with 600+ Designer Labels to Shop From:
          ul.storypage_ul_li.padding_bottom_45
            li 350+ Clothing Brands
            li 100+ Jewellery Brands
            li 50+ accessories Brand
            li 50+ Home Décor Brands
          span.our_story_content.padding_bottom_12
            | Yes.. India's Best Designer Labels under the One Roof, and we are sure when you are reading this, these numbers are double already!
          h3.headings_three_part.padding_bottom_12 What Can You Do with ZeepZoop App and Website? 
          span.our_story_content.padding_bottom_45
            | If You are a Shopping Lover Like us - Take a Beer, Sit on Your Couch, Browse Designer's Profile and their Collection on the ZeepZoop App. For E-Shop, you can Directly Visit their website and shop their collection. For In-Shop Option, Check their Catalogue, Bookmark your Favorite Ones and Visit Your Chosen Ones only. No Need to Visit 50 Stores and Coming with Empty Hands. It's so... heartbreaking!! We know that. You and Your time are Precious, C'on!
          span.our_story_content.padding_bottom_45
            | If You Own a Designer Label – Register Your Brand on ZeepZoop, Let thousands of people come and explore your collection. You focus on Designing and making good Products, We will let people know about your Designs! Oh, Wait… hellooo and guess what? Business Listing on ZeepZoop is Free!
          .registar_brand_butt.padding_bottom_45
            a.red_butt(href='/brand_reg') You Want To Register Your Brand, Register Here 
          span.our_story_content.padding_bottom_45
            | That's all about us and what we do! We Love Dressing Up! We Love to Flaunt Different Looks! We Love People Talk About us and We Love everything Exclusive and nothing Less!
          .two_headings.padding_bottom_45
            h3.headings_three_part.story_small_heading Sounds Good? Then Stay in Touch!
            h3.headings_three_part.story_small_heading Seek, Shop and Share with ZeepZoop – Your Personal Shopping Guide
          .last_pere_contnet.padding_bottom_45
            p
              | Stay Connected on Social Media with Us (We don't do boring stuff !) – 
              a(href="https://www.facebook.com/Zeepzoopofficial", target="_blank").black Facebook, 
              a(href="https://www.instagram.com/zeepzoopofficial/", target="_blank").black instagram
            p
              | Read Some Awesome Fashion And Lifestyle Stories – 
              a.black On The Blog Here
            p
              | You feel You are crazy enough to Join the Team! Write to Us at – 
              a.black career@zeepzoop.com
            p
              | Are You an Influencer and Want Work with Us? Write to Us at – 
              a.black collaboration@zeepzoop.com
            p
              | You want to share your ideas, tips, feedback? Write to Us at – 
              a.black connect@zeepzoop.com
include common/footer
script.
  document.body.classList.add("body-register");
