include common/head

.wrapper
  section.innerpage-hero
    img(src="/images/team-bnr.jpg",style="opacity: 0.9;", alt="")
  |         
  .mid-scn-main
    section.mid-team-scn
      .fix-wrap
        .team-list
          .team-item
            img.dft-team-pic(src='/images/ceo.jpg', alt='')
            img.teamhover(src='/images/team-1.jpg', alt='')
            |                             
            .teamcont-info
              h4 Bhavya Modi
              |                                 
              span.positon-txt Founder and CEO
              |                                 
              p
                | All those who wander are not lost, some people just work their asses off and they turn their dreams into reality, that's BhavyaModi for ZeepZoop. The guy who leads the madness with the vast vision and obsessive passion for the brand image and product. Even after facing lots of failures and listening NO from plenty of investors, He kept his dream alive and stayed in the action-mode all the time. Now, you can see him brainstorming ideas and mentoring the team at ZeepZoop HQ. 
              | Weapons: Beer, Subway, Driving, Movies
          |                         
          .team-item
            img.dft-team-pic(src='/images/coo.jpg', alt='')
            img.teamhover(src='/images/team-2.jpg', alt='')
            |                             
            .teamcont-info
              h4 Bhavin Prajapati
              |                                 
              span.positon-txt Co-Founder and COO
              |                                 
              p
                | To handle the aggressiveness that madness produces, we always need a person with immense patience, maturity, and capacity to drive the force, That'sBhavin for ZeepZoop. He supports the dream and company's vision with his conscious efforts and rich network. He manages the ZeepZoop team efficiently while working on all operational decisions and tasks. The Shayar at Heart and keenly interested in Politics, he is that person with whom you can spend hours talking and you will be mesmerized
              | Weapons: Poetry, Politics, Friends, Newspaper 
          |                         
          .team-item
            img.dft-team-pic(src='/images/hetal.jpg', alt='')
            img.teamhover(src='/images/team-3.jpg', alt='')
            |                             
            .teamcont-info
              h4 Hetal Shah
              |                                 
              span.positon-txt Digital Marketer & Content Creator
              |                                 
              p
                | There are no boundaries for her! She loves trying new things and experimenting always with an optimist approach. She wears multiple hates at ZeepZoop and leads the entire Digital Marketing, Design and Content Team. Her keen interest in Fashion and Lifestyle and Content Creation helps the company to understand the niche better. While she is not in the Office, she is travelling or learning something new that she has challenged herself to do.
              | Weapons: Chai, Solo Travel, Optimism, Sarcasm 
          |                         
          .team-item
            img.dft-team-pic(src='/images/nutan.jpg', alt='')
            img.teamhover(src='/images/team-4.jpg', alt='')
            |                             
            .teamcont-info
              h4 Nutankumar
              |                                 
              span.positon-txt Senior Graphics Designer
              |                                 
              p
                | Don't go with the Size for this Edition of Thor! He is the Strongest when it comes to the designing part. A truly multi-skilled person who converts our random thoughts to creative graphics. His bubbling energy and enthusiasm can mesmerize anyone! When we find the idea too complex to execute, Nutan says "Hum Hai to Kya Gam Hai!!" Well, he is that ‘Jugadu' that every company feels proud to have.
              | Weapons: Patriotism, Jugaad, Food, Pen
          |                         
          .team-item
            img.dft-team-pic(src='/images/parash.jpg', alt='')
            img.teamhover(src='/images/team-5.jpg', alt='')
            |                             
            .teamcont-info
              h4 Paras Santoki
              |                                 
              span.positon-txt TechLead Mobile Application
              |                                 
              p
                | He is that Tony who doesn't give up! Paras is Our Code Ninja who plays with code with the ease of playing the 'Mario' game. His perseverance and sincerity make him, one of the most reliable person at ZeepZoop. Anything we ask him to do, he will say "Thai Jashe!" This Android and iOS developer functions more efficiently when the cricket commentary runs side by side. 
              | Weapons: Cricket, Movies, Politics, Chai, Gujarati Jokes
          |                         
          .team-item
            img.dft-team-pic(src='/images/saddam.jpg', alt='')
            img.teamhover(src='/images/team-6.jpg', alt='')
            |                             
            .teamcont-info
              h4 Saddam Hussain
              |                                 
              span.positon-txt Senior Web Developer
              |                                 
              p
                | This version of Green Lantern does the magic with his code capacity! Close deadlines, workload, and madness at ZeepZoop HQ, He handles everything with passion, calm nature and ever smiling face. When we shared our vision to have a World Class Website for "ZeepZoop" he promised to give ‘the Best' and nothing less than that. Here you are browsing that Website today!
              | Weapons: Bike, Music, Fitness, Node
          |                         
          .team-item
            img.dft-team-pic(src='/images/anita.jpg', alt='')
            img.teamhover(src='/images/team-7.jpg', alt='')
            |                             
            .teamcont-info
              h4 Anita Sonava
              |                                 
              span.positon-txt B.D.E.
              |                                 
              p
                | Another Smiling and Energetic face of ZeepZoop Family is Anita. Our mornings start with her warm welcome. Her Chapad-Chapad works like energy to make the environment vibrant and energetic. She handles one of the most essential parts of ZeepZoop; that is "Business and Database Management". She lives in the moment and strong believer of “Rules Are Meant to Be Broken”
              | Weapons: Google, Masala Dosa, Cake, Rule Breaker
          |                    
          .team-item
            img.dft-team-pic(src='/images/amish.jpg', alt='')
            img.teamhover(src='/images/team-8.jpg', alt='')
            |                             
            .teamcont-info
              h4 Amish Shah
              |                                 
              span.positon-txt Video Editor
              |                                 
              p
                | Strength, Speed, Durability, and Senses that's What Black Panther is all about and Our Video Editor Too. The strongest believer of "Future is all about Powerful Visuals" he proves it with his Video Making Skills. Starting with picking the right Music, to transitions, Animation and all the jugaad we ask him to do for Videos, he does it happily.
              | Weapons: EDM Music, Bhuvan Bam, Web Series, Dance
          |                         
          .team-item
            img.dft-team-pic(src='/images/priyanshi.jpg', alt='')
            img.teamhover(src='/images/team-9.jpg', alt='')
            |                             
            .teamcont-info
              h4 Priyanshi Otwani
              |                                 
              span.positon-txt Content Writer
              |                                 
              p
                | The Youngest member of ZeepZoop family is Priyanshi. Her Zeal for trying new things, experimenting with content, doodling and providing creative ideas is something we truly love. This little bundle of Talent is a true Rihanna fan, rocks the street style and has a badass attitude. When it comes to the content creation part, she has a lot to offer.
              | Weapons: Doodling, Lipsticks, Street Style, Nail Art
          |                         
          //- .team-item.jointeam-item
          //-   img.dft-team-pic(src='/images/team-10.jpg', alt='')
          //-   img.teamhover(src='/images/team-10.jpg', alt='')
          //-   |                             
          //-   .teamcont-info
          //-     span.join-force-txt
          //-       | Join The 
          //-       br
          //-       | Z-Force
          //-     |                                 
          //-     a.jointeam-btn(href="#") Now         
|     
include common/footer
script.
  document.body.classList.add("body-blog");