include common/head

.bnrMainCont
  .bnrBg(data-stellar-background-ratio='1.3', style="background-image: url('/images/banner-team.jpg');")
section.secPad
  .centerAlign
    ul.ourTeamMainWrap
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/ceo.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-1.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Bhavya Modi
          .teamDes Founder and CEO
          .secDesc
            p
              | All those who wander are not lost, some people just work their asses off and they turn their dreams into reality, that's Bhavya Modi for ZeepZoop. The guy who leads the madness with the vast vision and obsessive passion for the brand image and product. Even after facing lots of failures and listening NO from plenty of investors, He kept his dream alive and stayed in the action-mode all the time. Now, you can see him brainstorming ideas and mentoring the team at ZeepZoop HQ.
            span Weapons: Beer, Subway, Driving, Movies
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/coo.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-2.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Bhavin Prajapati
          .teamDes Co-Founder and COO
          .secDesc
            p
              | To handle the aggressiveness that madness produces, we always need a person with immense patience, maturity, and capacity to drive the force, That'sBhavin for ZeepZoop. He supports the dream and company's vision with his conscious efforts and rich network. He manages the ZeepZoop team efficiently while working on all operational decisions and tasks. The Shayar at Heart and keenly interested in Politics, he is that person with whom you can spend hours talking and you will be mesmerized
            span Weapons: Poetry, Politics, Friends, Newspaper
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/hetal.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-3.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Hetal Shah
          .teamDes Digital Marketing
          .secDesc
            p
              | There are no boundaries for her! She loves trying new things and experimenting always with an optimist approach. She wears multiple hats at ZeepZoop and leads the entire Digital Marketing, Design and Content Team. Her keen interest in Fashion and Lifestyle and Content Creation helps the company to understand the niche better. While she is not in the Office, she is travelling or learning something new that she has challenged herself to do.
            span Weapons: Chai, Solo Travel, Optimism, Sarcasm
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/nutan.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-4.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Nutankumar
          .teamDes Graphics Designer
          .secDesc
            p
              | Don't go with the Size for this Edition of Thor! He is the Strongest when it comes to the designing part. A truly multi-skilled person who converts our random thoughts to creative graphics. His bubbling energy and enthusiasm can mesmerize anyone! When we find the idea too complex to execute, Nutan says "Hum Hai to Kya Gam Hai!!" Well, he is that ‘Jugadu' that every company feels proud to have.
            span Weapons: Patriotism, Jugaad, Food, Pen
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/parash.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-5.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Paras Santoki
          .teamDes Android Developer
          .secDesc
            p
              | He is that Tony who doesn't give up! Paras is Our Code Ninja who plays with code with the ease of playing the 'Mario' game. His perseverance and sincerity make him, one of the most reliable person at ZeepZoop. Anything we ask him to do, he will say "Thai Jashe!" This Android and iOS developer functions more efficiently when the cricket commentary runs side by side.
            span Weapons: Cricket, Movies, Politics, Chai, Gujarati Jokes
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/saddam.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-6.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Saddam Hussain
          .teamDes Senior Web Developer
          .secDesc
            p
              | This version of Green Lantern does the magic with his code capacity! Close deadlines, workload, and madness at ZeepZoop HQ, He handles everything with passion, calm nature and ever smiling face. When we shared our vision to have a World Class Website for "ZeepZoop" he promised to give ‘the Best' and nothing less than that. Here you are browsing that Website today!
            span Weapons: Bike, Music, Fitness, Node
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/anita.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-7.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Anita Sonava
          .teamDes B.D.E.
          .secDesc
            p
              | Another Smiling and Energetic face of ZeepZoop Family is Anita. Our mornings start with her warm welcome. Her Chapad-Chapad works like energy to make the environment vibrant and energetic. She handles one of the most essential parts of ZeepZoop; that is "Business and Database Management". She lives in the moment and strong believer of “Rules Are Meant to Be Broken”
            span Weapons: Google, Masala Dosa, Cake, Rule Breaker
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/amish.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-8.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Amish Shah
          .teamDes Video Editor
          .secDesc
            p
              | Strength, Speed, Durability, and Senses that's What Black Panther is all about and Our Video Editor Too. The strongest believer of "Future is all about Powerful Visuals" he proves it with his Video Making Skills. Starting with picking the right Music, to transitions, Animation and all the jugaad we ask him to do for Videos, he does it happily.
            span Weapons: EDM Music, Bhuvan Bam, Web Series, Dance
      li
        .teamImgWrp
          img.tmAvtarImg(src='/images/priyanshi.jpg', alt='img')
          img.tmMainImg(src='/images/team-img-9.jpg', alt='img')
        .teamInfWrp
          h2.teamTtle Priyanshi Otwani
          .teamDes Content Writer
          .secDesc
            p
              | The Youngest member of ZeepZoop family is Priyanshi. Her Zeal for trying new things, experimenting with content, doodling and providing creative ideas is something we truly love. This little bundle of Talent is a true Rihanna fan, rocks the street style and has a badass attitude. When it comes to the content creation part, she has a lot to offer.
            span Weapons: Doodling, Lipsticks, Street Style, Nail Art
.joinZForceFtrCont
  .centerAlign
    //- a(href='#') Join The Z-Force
.scrlTpIcon
include common/footer

