footer
    .fix-wrap.position_relativ
      .blog-app-prt.footer_app_google_icon
        .playstore
          a(href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8',target="_blank")
            img(src="/images/app-store-icon.png", alt="")
          |  
          a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user',target="_blank")
            img(src="/images/googleplay-icon.png", alt="")
      .socialmedia
        a(href='https://www.facebook.com/Zeepzoopofficial', target='_blank')
          img(src='/images/fb-icon.png', alt='')
        a(href='https://www.instagram.com/zeepzoopofficial/', target='_blank')
          img(src='/images/inst-icon.png', alt='')
        a(href='https://www.youtube.com/channel/UCQajBUKn91xbZ22StHqeOzg/videos?pbjreload=10',target="_blank")
          img(src='/images/youtube-icon.png', alt='')
        a(href='https://in.pinterest.com/zeepzoopofficial/')
          img(src='/images/pnts-icon.png', alt='')
      .ftr-nav
        ul
          li
            a(href='/zeepzoop_story') Our Story
          li
            a(href='/zeepzoop_team') Our Team
          li
            a(href='/partners') Partners
          li
            a(href='/bhavyamodi_founderceo') Meet The CEO
          //- li
          //-   a(href='#') Privacy Policy
          li
            a(href='/register_your_brand') Register Your Brand
          li
            a(href='/contactus') Contact us
          //- li
          //-   a(href='#') Get Featured
      .ftr-copy  Copyright © Zeepzoop Incorporation LLP - All Rights Reserved-2018