footer.ftMainCont
  .centerAlign
    .ftrSocial
      a(href='https://www.facebook.com/Zeepzoopofficial', target='_blank')
        img(src='/images/ftr-fb-icn.png')
      a(href='https://www.instagram.com/zeepzoopofficial/', target='_blank')
        img(src='/images/ftr-inst-icn.png')
      a(href='https://www.youtube.com/channel/UCQajBUKn91xbZ22StHqeOzg/videos?pbjreload=10',target="_blank")
        img(src='/images/ftr-ytube-icn.png')
      a(href='https://in.pinterest.com/zeepzoopofficial/',target="_blank")
        img(src='/images/ftr-pintr-icn.png')
    ul.ftrLinks
      li
        a(href='/zeepzoop_story') Our Story
      li
        a(href='/zeepzoop_team') Our Team
      li
        a(href='/partners') Partners
      //- li
      //-   a(href='#') Privacy Policy
      li
        a(href='/register_your_brand') Register Your Brand
      li
        a(href='/contactus') Contact us
    .ftrAppLnksWrp
      //- a(href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8',target="_blank")
      //-   img(src='/images/ftr-apple-btn.svg', alt='Zeepzoop App')
      a(href='https://play.google.com/store/apps/details?id=com.zeepzoop.user',target="_blank")
        img(src='/images/ftr-play-btn.svg', alt='Zeepzoop App')
    .cpyRghtWrp
      p  Copyright © Zeepzoop Incorporation LLP - All Rights Reserved-2018
.scrlTpIcon