footer
  .container
    h1 Available on
    .stores
      a.store(target='_blank', href='https://itunes.apple.com/us/app/zeepzoop/id1332324465?ls=1&mt=8', open='')
        svg#Layer_1(enable-background='new 0 0 512 512', height='512px', version='1.1', viewbox='0 0 512 512', width='512px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          path(d='M511.999,432c0,44.182-35.816,80-80,80H80c-44.183,0-80-35.818-80-80V80C0,35.817,35.817,0,80,0h351.999  c44.184,0,80,35.817,80,80V432z', fill='#1B85F3')
          g
            path(d='M404.388,239.654l-15.019,15.019L254.042,119.347l-6.139,6.139l23.132,23.132l12.195,34.476l-5.86,5.86   l45.963,45.963l-16.475,16.475l-52.816-52.816l-55.273,55.273l-16.269-16.27l-23.859,23.859l-11.703-11.703l-39.126,39.125   l44.375,44.375l-10.17,10.171L310.61,512h121.389c44.183,0,79.999-35.818,79.999-80v-84.734L404.388,239.654z', fill='#055093')
            polygon(fill='#055093', points='147.259,374.49 143.842,371.073 128.381,386.536 253.844,512 305.133,512 157.44,364.308  ')
          g
            path(d='M182.492,237.568h-70.213c-3.476,0-6.279,2.822-6.279,6.271v40.605c0,3.448,2.804,6.289,6.288,6.289h39.698   L182.492,237.568z', fill='#FDFDFD')
            path(d='M155.679,362.879l-18.066-10.362c-3.303-1.905-6.361-0.345-6.796,3.43l-3.131,27.204   c-0.427,3.811,1.788,5.153,4.945,2.993l23.337-15.86C159.127,368.114,159,364.785,155.679,362.879z', fill='#FDFDFD')
            path(d='M254.747,206.582c1.906-3.294,0.763-7.549-2.55-9.473l-18.057-10.345c-3.303-1.923-7.586-0.753-9.473,2.541   l-27.693,48.254l-30.533,53.164l-25.472,44.362c-1.905,3.312-0.744,7.577,2.55,9.464l18.075,10.371   c3.304,1.914,7.567,0.763,9.474-2.531l35.415-61.666l22.866-39.889L254.747,206.582z', fill='#FDFDFD')
            path(d='M251.453,237.568l-30.506,53.165h82.809c-5.998-11.896-13.974-28.865-24.662-53.165H251.453z', fill='#FDFDFD')
            path(d='M352.973,291.404c-0.092-0.173-0.227-0.418-0.363-0.663c-1.669-3.121-5.88-11.196-11.396-21.668   c-0.063-0.154-0.146-0.272-0.2-0.436c-0.436-0.798-0.87-1.605-1.306-2.422c-0.318-0.59-0.645-1.216-0.953-1.843   c-0.281-0.5-0.563-1.016-0.835-1.561c-0.49-0.935-0.971-1.869-1.488-2.822c-0.146-0.29-0.299-0.581-0.472-0.889   c-0.563-1.062-1.134-2.151-1.706-3.23c-0.172-0.318-0.327-0.645-0.49-0.953c-12.739-24.063-28.728-53.681-38.582-69.279   c-17.259-27.303-40.325-72.772-46.767-69.569c-9.002,4.51,18.892,62.256,28.129,83.979c9.237,21.687,45.279,104.857,52.492,108.514   c7.241,3.594,10.036,1.579,14.881-0.417C348.744,306.167,357.409,299.443,352.973,291.404z', fill='#FDFDFD')
            path(d='M373.57,334.26l-8.603-16.532c-1.96-3.729-6.533-5.254-10.199-3.385l-10.361,5.326   c-3.657,1.905-4.801,6.315-2.56,9.908l10.88,17.205c2.241,3.547,7.005,4.709,10.525,2.55l7.404-4.428   C374.188,342.808,375.512,337.998,373.57,334.26z', fill='#FDFDFD')
            path(d='M370.894,358.161c-2.705,2.612-9.138,8.211-1.353,19.173c7.785,10.97,25.153,11.442,27.439,18.756   C396.98,396.09,402.443,340.376,370.894,358.161z', fill='#FDFDFD')
            path(d='M405.991,284.444v-40.597c0-3.448-2.795-6.27-6.279-6.27h-60.995c7.188,13.447,13.829,26.114,18.512,35.043   c3.257,6.207,5.825,11.106,6.741,12.74c0.943,1.732,1.615,3.539,2.069,5.372h33.683c3.483,0,6.278-2.841,6.278-6.289H405.991z', fill='#FDFDFD')
      a.store(target='_blank', href='https://play.google.com/store/apps/details?id=com.zeepzoop', open='')
        svg#Layer_1(enable-background='new 0 0 512 512', height='512px', version='1.1', viewbox='0 0 512 512', width='512px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          path(d='M512.619,432c0,44.182-35.816,80-80,80h-352c-44.183,0-80-35.818-80-80V80c0-44.183,35.817-80,80-80h352  c44.184,0,80,35.817,80,80V432z', fill='#F7F7F7')
          path(d='M512.618,432v-53.52l-129.34-129.34L363.71,268.71l-53.63-53.63L131.94,393.22L250.721,512h181.897  C476.802,512,512.618,476.182,512.618,432z', fill='#E5E5E5')
          g
            polygon(fill='none', points='275.17,255.827 318.814,212.177 318.809,212.177 275.17,255.827 135.86,116.537 135.848,116.537    275.156,255.843 135.631,395.385 135.631,395.385 275.156,255.843 319.006,299.689 319.025,299.689  ')
            lineargradient#SVGID_1_(gradienttransform='matrix(0.7071 0.7071 -0.7071 0.7071 -453.2769 -49.6328)', gradientunits='userSpaceOnUse', x1='702.4004', x2='518.4658', y1='-286.2603', y2='-401.374')
              stop(offset='0', style='stop-color:#D6FFA1')
              stop(offset='0.3264', style='stop-color:#93E2A7')
              stop(offset='1', style='stop-color:#00A3B5')
            path(d='M318.809,212.177l-170.084-93.51c-4.821-2.641-9.266-3.257-12.865-2.131l139.31,139.291   L318.809,212.177z', fill='url(#SVGID_1_)')
            lineargradient#SVGID_2_(gradienttransform='matrix(0.7071 0.7071 -0.7071 0.7071 -453.2769 -49.6328)', gradientunits='userSpaceOnUse', x1='595.4531', x2='833.9358', y1='-384.5957', y2='-322.2533')
              stop(offset='0', style='stop-color:#FF177B')
              stop(offset='0.6721', style='stop-color:#FFA976')
              stop(offset='1', style='stop-color:#FFEC73')
            path(d='M319.025,299.689l58.059-31.924c11.777-6.49,11.777-17.076,0-23.542l-58.27-32.046l-43.645,43.65   L319.025,299.689z', fill='url(#SVGID_2_)')
            lineargradient#SVGID_3_(gradienttransform='matrix(0.7071 0.7071 -0.7071 0.7071 -453.2769 -49.6328)', gradientunits='userSpaceOnUse', x1='728.582', x2='469.9819', y1='-198.9355', y2='-351.0804')
              stop(offset='0', style='stop-color:#63FFD4')
              stop(offset='0.4854', style='stop-color:#32A0BA')
              stop(offset='0.8349', style='stop-color:#1262A9')
              stop(offset='1', style='stop-color:#064AA2')
            path(d='M135.848,116.537c-5.17,1.621-8.526,6.856-8.526,14.778l0.038,249.352   c0,7.83,3.242,12.998,8.272,14.719l139.525-139.542L135.848,116.537z', fill='url(#SVGID_3_)')
            lineargradient#SVGID_4_(gradienttransform='matrix(0.7071 0.7071 -0.7071 0.7071 -453.2769 -49.6328)', gradientunits='userSpaceOnUse', x1='822.4697', x2='663.2418', y1='-319.7422', y2='-109.9672')
              stop(offset='0', style='stop-color:#FF4521')
              stop(offset='0.3411', style='stop-color:#D43E65')
              stop(offset='0.7935', style='stop-color:#9F36B9')
              stop(offset='1', style='stop-color:#8A33DB')
            path(d='M135.631,395.385c3.623,1.225,8.158,0.662,13.093-2.055l170.281-93.641l-43.85-43.847   L135.631,395.385z', fill='url(#SVGID_4_)')
    .social
      ul
        li
          a(target='_blank', href='https://www.Fb.com/Zeepzoopofficial', open='')
            svg(height='60px', version='1.1', viewbox='0 0 60 60', width='60px', xmlns='http://www.w3.org/2000/svg', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', xmlns:xlink='http://www.w3.org/1999/xlink')
                g#black(fill='none', fill-rule='evenodd', stroke='none', stroke-width='1')
                  g#facebook
                    path#Facebook.social-background(d='M30,60 C46.5685433,60 60,46.5685433 60,30 C60,13.4314567 46.5685433,0 30,0 C13.4314567,0 0,13.4314567 0,30 C0,46.5685433 13.4314567,60 30,60 Z', fill='#000000')
                    path.social-icon(d='M25.4622239,47.314313 L25.4622239,29.9989613 L21.9432889,29.9989612 L21.9432889,24.2593563 L25.4622239,24.2593563 L25.4622239,20.7883864 C25.4622239,16.1066422 26.8619948,12.730619 31.9881023,12.730619 L38.0863595,12.730619 L38.0863595,18.45844 L33.7922546,18.45844 C31.6418944,18.45844 31.1518737,19.8873763 31.1518737,21.3837609 L31.1518737,24.2593553 L37.7694231,24.2593558 L36.8661728,29.9989613 L31.1518737,29.9989613 L31.1518737,47.3143123 L25.4622239,47.314313 Z', fill='#FFFFFF')
        li
          a(target='_blank', href='https://www.twitter.com/zeepzoopconnect', open='')
            svg(height='60px', version='1.1', viewbox='0 0 60 60', width='60px', xmlns='http://www.w3.org/2000/svg', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', xmlns:xlink='http://www.w3.org/1999/xlink')
              g#black(fill='none', fill-rule='evenodd', stroke='none', stroke-width='1')
                g#twitter
                  path#Twitter.social-background(d='M30,60 C46.5685433,60 60,46.5685433 60,30 C60,13.4314567 46.5685433,0 30,0 C13.4314567,0 0,13.4314567 0,30 C0,46.5685433 13.4314567,60 30,60 Z', fill='#000000')
                  path.social-icon(d='M41.0521385,18.4366943 C39.8431846,17.0622015 38.1205385,16.1864641 36.2140615,16.154731 C32.5536,16.0938031 29.5856538,19.1869234 29.5856538,23.063116 C29.5856538,23.6132412 29.6442923,24.1496934 29.7573692,24.6646732 C24.2485846,24.3073526 19.3644692,21.4387706 16.0954154,17.1147218 C15.5248615,18.1508617 15.1979077,19.3618827 15.1979077,20.6591504 C15.1979077,23.1149884 16.3680923,25.2945272 18.1466308,26.5814174 C17.0601231,26.5334499 16.0380692,26.2045378 15.1444385,25.664952 C15.1437923,25.694445 15.1437923,25.7239449 15.1437923,25.7539625 C15.1437923,29.1835497 17.4285923,32.0607076 20.4608308,32.7309383 C19.9046538,32.888538 19.3190769,32.9710163 18.7146,32.967008 C18.2874923,32.9641758 17.8721769,32.9168118 17.4675231,32.831768 C18.3109154,35.6443777 20.7587077,37.6967663 23.6592923,37.764628 C21.3908077,39.6476963 18.5328692,40.7691933 15.4272923,40.762787 C14.8922769,40.7616833 14.3646923,40.727112 13.8461538,40.6605996 C16.7795308,42.6733139 20.2635923,43.8451711 24.0067615,43.8461531 C36.1985538,43.8493518 42.8657308,33.2395109 42.8657308,24.0367687 C42.8657308,23.7348363 42.8591077,23.4345191 42.8465077,23.135652 C44.1415615,22.1706665 45.2652231,20.9607892 46.1538462,19.579219 C44.9652462,20.1150162 43.6876385,20.4708686 42.3470308,20.6201379 C43.7154231,19.7779652 44.7665538,18.4300961 45.2613462,16.8137584 C43.9805077,17.5904923 42.5620385,18.1475129 41.0521385,18.4366943 Z', fill='#FFFFFF')
        li
          a(target='_blank', href='https://www.Instagram.com/zeepzoopofficial', open='')
            svg(height='60px', version='1.1', viewbox='0 0 60 60', width='60px', xmlns='http://www.w3.org/2000/svg', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', xmlns:xlink='http://www.w3.org/1999/xlink')
              g#black(fill='none', fill-rule='evenodd', stroke='none', stroke-width='1')
                g#instagram
                  path#Instagram.social-background(d='M30,60 C46.5685433,60 60,46.5685433 60,30 C60,13.4314567 46.5685433,0 30,0 C13.4314567,0 0,13.4314567 0,30 C0,46.5685433 13.4314567,60 30,60 Z', fill='#000000')
                  path.social-icon(d='M21.7673614,24.2307692 L12.6923077,24.2307692 L12.6923077,23.0769231 L12.692308,23.0769231 C12.6923085,34.2046259 12.6923077,41.1538462 12.6923077,41.1538462 C12.6923077,46.1538451 17.6923077,46.1538451 17.6923077,46.1538451 L41.1538451,46.1538451 C41.1538451,46.1538451 46.1538451,46.1538451 46.1538462,41.1538462 L46.1538454,24.2307692 L46.1538462,24.2307692 L46.1538462,23.0769231 L36.3467878,23.0769231 C34.7679692,20.9749961 32.2543003,19.6153846 29.4230769,19.6153846 C26.5918536,19.6153846 24.0781847,20.9749961 22.4993661,23.0769231 L12.692308,23.0769231 C12.6923079,21.3763439 12.6923078,19.5781757 12.6923077,17.6923077 C12.6923077,14.53622 14.6844856,13.3723102 16.1538462,12.9430807 L16.1538462,19.6153846 L17.3076923,19.6153846 L17.3076923,12.7168978 L17.3076923,12.7168978 C17.5477091,12.6923077 17.6923077,12.6923077 17.6923077,12.6923077 L41.1538462,12.6923077 C41.1538462,12.6923077 46.1538451,12.6923077 46.1538451,17.6923077 L46.1538454,24.2307692 L37.0787925,24.2307692 C37.716079,25.4363757 38.0769231,26.8106634 38.0769231,28.2692308 C38.0769231,33.0486183 34.2024644,36.9230769 29.4230769,36.9230769 C24.6436894,36.9230769 20.7692308,33.0486183 20.7692308,28.2692308 C20.7692308,26.8106634 21.1300748,25.4363757 21.7673614,24.2307692 L21.7673614,24.2307692 Z M40.0785289,15 C38.9730725,15 38.0769231,15.9014423 38.0769231,17.0016058 L38.0769231,18.767625 C38.0769231,19.8730813 38.9783654,20.7692308 40.0785289,20.7692308 L41.8445481,20.7692308 C42.9500044,20.7692308 43.8461538,19.8677885 43.8461538,18.767625 L43.8461538,17.0016058 C43.8461538,15.8961494 42.9447115,15 41.8445481,15 L40.0785289,15 Z M20.7692308,12.6923077 L20.7692308,19.6153846 L21.9230769,19.6153846 L21.9230769,12.6923077 L20.7692308,12.6923077 Z M18.4615385,12.6923077 L18.4615385,19.6153846 L19.6153846,19.6153846 L19.6153846,12.6923077 L18.4615385,12.6923077 Z M29.4230769,35.1923077 C33.2465869,35.1923077 36.3461538,32.0927408 36.3461538,28.2692308 C36.3461538,24.4457208 33.2465869,21.3461538 29.4230769,21.3461538 C25.5995669,21.3461538 22.5,24.4457208 22.5,28.2692308 C22.5,32.0927408 25.5995669,35.1923077 29.4230769,35.1923077 Z M29.4230769,32.8846154 C31.9720836,32.8846154 34.0384615,30.8182374 34.0384615,28.2692308 C34.0384615,25.7202241 31.9720836,23.6538462 29.4230769,23.6538462 C26.8740703,23.6538462 24.8076923,25.7202241 24.8076923,28.2692308 C24.8076923,30.8182374 26.8740703,32.8846154 29.4230769,32.8846154 Z', fill='#FFFFFF')
    .copyright
      p Contact us: connect@zeepzoop.com
      p © Copyright 2017 Zeepzoop Incorporation LLP.
script(src='/js/jquery.min.js')
script(src='/js/custom.js')