doctype html
html(lang='en')
    title Strong leadership starts with your mindset
    meta(name='description', content='Times are changing and so is the definition of leadership. If you always wanted to be a leader but the opinions, perceptions, and stereotypes related to it prevented you from taking that leap of fa...')
    meta(name='keywords', content='Get Inspired,Business,Personal Growth,Innovation,leadership,self-improvement')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0')
    link(rel='canonical', href='https://community.ZeepZoop.com/read/67bf45fe36/strong-leadership-star')
    link(rel='publisher', href='https://plus.google.com/111272339013288238153')
    link(rel='amphtml', href='https://community.ZeepZoop.com/read/67bf45fe36/strong-leadership-star/amp')
    meta(property='og:locale', content='en')
    meta(property='og:type', content='article')
    meta(property='og:title', content='Strong leadership starts with your mindset')
    meta(property='og:description', content='Times are changing and so is the definition of leadership. If you always wanted to be a leader but the opinions, perceptions, and stereotypes related to it prevented you from taking that leap of fa...')
    meta(property='og:url', content='https://community.ZeepZoop.com/article/67bf45fe36/strong-leadership-star/')
    meta(property='og:site_name', content='community.ZeepZoop.com')
    meta(property='article:publisher', content='http://facebook.com/ZeepZoop.in')
    meta(property='article:tag', content='Get Inspired,Business,Personal Growth,Innovation,leadership,self-improvement')
    meta(property='article:published_time', content='2017-11-21 05:26:19 UTC')
    meta(property='article:modified_time', content='2017-11-21 05:26:19 UTC')
    meta(property='og:updated_time', content='2017-11-21 05:26:19 UTC')
    meta(property='og:image', content='https://storyfile.s3.amazonaws.com/l6d2v92x-Lead-by-example.jpeg')
    meta(property='og:image:width', content='1920')
    meta(property='og:image:height', content='1276')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Times are changing and so is the definition of leadership. If you always wanted to be a leader but the opinions, perceptions, and stereotypes related to it prevented you from taking that leap of fa...')
    meta(name='twitter:title', content='Strong leadership starts with your mindset')
    meta(name='twitter:site', content='@ZeepZoop')
    meta(name='twitter:domain', content='ZeepZoop.com')
    meta(name='twitter:image:src', content='https://storyfile.s3.amazonaws.com/l6d2v92x-Lead-by-example.jpeg')
    meta(name='twitter:creator', content='@ZeepZoop')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(type='text/css', href='/css/custom.css', rel='stylesheet')
    body(class=page) 
    .main
      .container
        a.logo(href='/')
          if page == "home-page"
            img(src='/images/logo.png')
          else
            img(src='/images/color-logo.png')
        if page == "home-page"
          .content
            h1 Your Shopping Unicorn
            p One-of-its-kind first shopping assistant App for the Exploring Shopper in you.
        
